name: Development
on: [pull_request]
jobs:
  run:
    name: Run unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [macos, ubuntu, windows]
        include:
          - build: macos
            os: macos-latest
          - build: ubuntu
            os: ubuntu-latest
          - build: windows
            os: windows-latest
        python-version: [3.8, 3.9, "3.10"]
    steps:
    - uses: actions/checkout@master

    - name: Get latest CMake and Ninja
      uses: lukka/get-cmake@latest
      with:
        cmakeVersion: latest
        ninjaVersion: latest

    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        pip3 install --upgrade setuptools pip
        pip3 install ".[all]"

    - name: Run linters
      run: |
        pre-commit install
        pre-commit run --all-files

    - name: Run (unit) tests and generate coverage report
      run: |
        pytest --cov=src --cov-report=xml -vvv
        pyflakes skorecard
